{:paths ["src" "resources" "notebooks"]
 :deps  {org.clojure/clojure                   {:mvn/version "1.12.0"}
         io.github.nextjournal/clerk           {:mvn/version "0.18.1142"}
         io.github.nextjournal/clerk-slideshow {:git/sha "11a83fea564da04b9d17734f2031a4921d917893"}
         com.github.mastodonc/witan.population {:git/sha "0dcaa57f75fa93f038dcc53ec4c724627d1eb0cf"}
         generateme/fastmath                   {:mvn/version "2.4.0"}
         scicloj/tablecloth                    {:mvn/version "7.059"}}}
