{:paths ["src" "resources" "notebooks"]
 :deps  {org.clojure/clojure                   {:mvn/version "1.12.5"}
         scicloj/tablecloth                    {:mvn/version "7.067"}
         org.scicloj/clay                      {:mvn/version "2.0.21"}
         org.scicloj/plotje                    {:mvn/version "0.10.0"}
         com.github.mastodonc/witan.population {:git/sha "b7c75b7e41406c6e56fa5ce4cec025a917100612"}}}
